// Variables
@import 'variables';
@import 'common';

.maintenance {
  background: url(../images/maintenance.svg) center center no-repeat;
  background-size: contain;
  content: '';
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
